/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Colors Palette */
:root{
    --color-header-bg:rgb(194, 85, 8);
    --color-footer-bg:rgb(26, 26, 26);
    --color-icons-text-white:#ffffff;
    --color-sales:rgb(255, 0, 0);
    --color-sales-advice:rgb(0, 128, 0);
    --color-price:rgb(255, 45, 44);
}

/* Utilities */
.debug{
    border: 2px solid black;
}
.debug-2{
    border: 2px solid blue;
}
.debug-3{
    border: 2px solid red;
}
.container{
    width: 1200px;
    margin: 0 auto;
    padding: 15px 5px;
}

/* Flex */
.wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}
.card{
    width: calc(100% / 3);
    padding: 0px 5px 20px;
    min-width: 300px;
}
/*Header*/
header{
    background-color: var(--color-header-bg);
    color: var(--color-icons-text-white);
}

/* Main */
img{
    width: 100%;
}

/* Footer */
footer{
    background-color: var(--color-footer-bg);
    color: var(--color-icons-text-white);
}