/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Colors Palette */
:root{
    --color-header-bg:rgb(194, 85, 8);
    --color-footer-bg:rgb(26, 26, 26);
    --color-icons-text-white:#ffffff;
    --color-sales:rgb(255, 0, 0);
    --color-sales-advice:rgb(0, 128, 0);
    --color-price:rgb(255, 45, 44);
}

/* Debug Utilities */
/* .debug{
    border: 2px solid black;
}
.debug-2{
    border: 2px solid blue;
}
.debug-3{
    border: 2px solid red;
} */

/* Utilities */
.container{
    width: 1200px;
    margin: 0 auto;
    padding: 15px 5px;
}
.d-space{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.padding-x *{
    padding: 0px 2px;
}
.pd-top{
    padding-top: 100px;
}
/* Flex */
.wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}
.card{
    width: calc(100% / 3);
    padding: 0px 5px 20px;
    min-width: 300px;
}
/*Header*/
header{
    background-color: var(--color-header-bg);
    color: var(--color-icons-text-white);
    position: fixed;
    width: 100%;
    z-index: 1000;
}

/* Navbar */
#logo{
    width: 10%;
}

/* Main */

.card-content{
    position: relative;
}
img{
    width: 100%;
}
.active-price{
    color: var(--color-price);
}
.sale{
    text-decoration: line-through;
}
.sconto{
    position: absolute;
    bottom: 40px;
    left: 0;
    background-color: var(--color-sales);
    color: var(--color-icons-text-white);
    padding: 0.1em;
}
.sconto-2{
    position: absolute;
    bottom: 40px;
    left: 42px;
    background-color: var(--color-sales-advice);
    color: var(--color-icons-text-white);
    padding: 0.1em;
}
.sconto-2c6{
    position: absolute;
    bottom: 40px;
    left: 0px;
    background-color: var(--color-sales-advice);
    color: var(--color-icons-text-white);
    padding: 0.1em;
}
.heart{
    position: absolute;
    top: 5px;
    right: 0px;
    padding: 5px;
    background-color: white;
}
/* Footer */
footer{
    background-color: var(--color-footer-bg);
    color: var(--color-icons-text-white);
}
.footer-content a{
    padding: 0px 4px 0px 0px;
}
a{
    color: var(--color-icons-text-white);
    text-decoration: none;
}
.socials{
    text-align: center;
}
